

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
    color: blue;

}
.skyeimage{
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
}

.ilustrationscene{
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 50px;
}

.roadimage{
    position: absolute;
    width: 100%;
    height: 130px;
    z-index: 2;
    top: 320px;
}

.roadimage1{
    position: absolute;
    width: 100%;
    height: 130px;
    z-index: 2;
    top: 490px;
    left: 0px;
}
.streetlightimage{
    position: absolute;
    height: 200px;
    z-index: 3;
    top: 280px;
}
.streetlightimage1{
    position: absolute;
    height: 200px;
    z-index: 3;
    top: 280px;
    left: 350px;
}

.streetlightimage2{
    position: absolute;
    height: 200px;
    z-index: 3;
    top: 280px;
    left: 830px;
}

.oneWaysignimage{
    position: absolute;
    height: 240px;
    z-index: 3;
    top: 280px;
    left: 1250px;
}

.birdsimage{
    position: absolute;
    height: 70px;
    z-index: 4;
    top: 100px;
    left: 230px;
}

.birdsimage1{
    position: absolute;
    height: 70px;
    z-index: 4;
    top: 100px;
    left: 820px;
}

.birdsimage2{
    position: absolute;
    height: 70px;
    z-index: 4;
    top: 100px;
    left: 1250px;
}

.aeroplaneimage{
    position: absolute;
    height: 100px;
    z-index: 5;
    top: 60px;
    left: 1300px;
    animation: lefttorightmovement 1.6s linear infinite;
}

.aeroplaneimage1{
    position: absolute;
    height: 200px;
    z-index: 5;
    top: 60px;
    left: 1000px;
    animation: lefttorightmovement 5s linear infinite;
}

.carimage1{
    position: absolute;
    width: 10%;
    z-index: 5;
    top: 300px;
    left: 10px;
    animation: righttoleftmovement 6s linear infinite;
}

.carimage2{
    position: absolute;
    width: 10%;
    z-index: 5;
    top: 320px;
    left: 200px;
    animation: righttoleftmovement 1.5s linear infinite;

}
.carimage3{
    position: absolute;
    width: 10%;
    z-index: 5;
    top: 315px;
    left: 800px;
    animation: righttoleftmovement 3s linear infinite;
}

.motorimage1{
    position: absolute;
    width: 10%;
    z-index: 5;
    top: 420px;
    left: 1250px;
    animation: righttoleftmovement 4s linear infinite;
}

.motorimage2{
    position: absolute;
    width: 10%;
    z-index: 5;
    top: 470px;
    left: 1400px;
    animation: lefttorightmovement 1.5s linear infinite;
}
.motorimage3{
    position: absolute;
    width: 10%;
    z-index: 5;
    top: 320px;
    left: 1200px;
    animation: lefttorightmovement 2s linear infinite;
}
.motorimage4{
    position: absolute;
    width: 10%;
    z-index: 5;
    top:450px;
    left: 1590px;
 animation: lefttorightmovement 3s linear infinite;
}

@keyframes lefttorightmovement{
    from{ transform: translate(0px,0px);}
    to{transform: translate(-1500px, 0px);}
}



.motorimage5{
    position: absolute;
    width: 10%;
    z-index: 5;
    top: 470px;
    left: 20px;
    animation: righttoleftmovement 10s linear infinite;
}

@keyframes righttoleftmovement{
    from{ transform: translate(0px,0px);}
    to{transform: translate(1500px, 0px);}
}
